absl-py==1.4.0
altair==5.0.1
arrow==1.2.3
astunparse==1.6.3
async-generator==1.10
Automat==22.10.0

bayesian-optimization==1.4.3

blinker==1.6.2

Brotli==1.0.9

cachetools==5.3.0
catboost==1.2
certifi==2023.5.7

click==8.1.3
cloudpickle==2.2.1

colorlover==0.3.0

conda==23.3.1


constantly==15.1.0
contourpy==1.0.7

cssselect==1.2.0
cufflinks==0.17.3
cycler==0.11.0
dacite==1.8.1
dash==2.9.3
dash-bootstrap-components==1.3.1
dash-colorscales==0.0.4
dash-core-components==2.0.0
dash-cytoscape==0.3.0
dash-daq==0.5.0
dash-html-components==2.0.0
dash-table==5.0.0

dill==0.3.6
docker==6.1.3
dtale==3.1.0

et-xmlfile==1.1.0
exceptiongroup==1.1.1

fake-useragent==1.1.3

Flask==2.2.5
Flask-Compress==1.13
flask-ngrok==0.0.25
flatbuffers==23.5.9

fonttools==4.39.4
fqdn==1.5.1
future==0.18.3
gast==0.4.0
gensim==4.3.1
gevent==22.10.2
gitdb==4.0.10
GitPython==3.1.31

google-auth==2.18.1
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
graphviz==0.20.1
greenlet==2.0.2
grpcio==1.55.0
h11==0.14.0

htmlmin==0.1.12
hyperlink==21.0.0

ImageHash==4.3.1
imageio==2.29.0

incremental==22.10.0
install==1.3.5
interpret==0.4.1
interpret-core==0.4.1

ipython-genutils==0.2.0

isoduration==20.11.0
itemadapter==0.8.0
itemloaders==1.1.0
items==0.6.5
itsdangerous==2.1.2
jax==0.4.13

jmespath==1.0.1
joblib==1.2.0

jsonpointer==2.0

jupyter-contrib-core==0.4.2
jupyter-contrib-nbextensions==0.7.0
jupyter-highlight-selected-word==0.2.0
jupyter-nbextensions-configurator==0.6.3
kaggle==1.5.15
kaleido==0.2.1
keras==2.12.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
lazy_loader==0.2
libclang==16.0.0
lightgbm==3.3.5
lime==0.2.0.1
llvmlite==0.40.0
lxml==4.9.2
lz4==4.3.2
Markdown==3.4.3
markdown-it-py==3.0.0
matplotlib==3.6.3
mdurl==0.1.2
missingno==0.4.2
missingpy==0.2.0
ml-dtypes==0.2.0
multimethod==1.9.1
multiprocess==0.70.14
mysqlclient==2.1.1

nulltype==2.3.1
numba==0.57.1
oauthlib==3.2.2
openpyxl==3.1.2
opt-einsum==3.3.0
outcome==1.2.0
pandas==2.0.1
parsel==1.8.1
patsy==0.5.3
phik==0.12.3
phpmyadmin==0.0.1

plotly==5.14.1

Protego==0.2.1
protobuf==4.23.4

pyaml==23.5.9
pyarrow==12.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0

pydantic==1.10.9
pydeck==0.8.1b0
PyDispatcher==2.0.7
Pympler==1.0.1
PyMySQL==1.0.3

pyparsing==3.0.9

python-slugify==8.0.1
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.4.1

queuelib==1.6.2
requests-file==1.5.1
requests-oauthlib==1.3.1

rich==13.4.2
rsa==4.9

SALib==1.4.7
scikit-image==0.20.0
scikit-learn==1.3.0
scikit-optimize==0.9.0
scipy==1.9.3
Scrapy==2.9.0
seaborn==0.12.2
selenium==4.10.0
service-identity==23.1.0
shap==0.41.0
sklearn==0.0.post5
skope-rules==1.0.1
slicer==0.0.7
smart-open==6.3.0
smmap==5.0.0
sortedcontainers==2.4.0
squarify==0.4.3
statsmodels==0.14.0
streamlit==1.24.1
streamlit-shap==1.0.2
strsimpy==0.2.1
tangled-up-in-unicode==0.2.0
tenacity==8.2.2
tensorboard==2.12.3
tensorboard-data-server==0.7.1
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==2.12.0
tensorflow-macos==2.12.0
tensorflow-metal==0.6.0
termcolor==2.3.0
text-unidecode==1.3
threadpoolctl==3.1.0
tifffile==2023.4.12
tldextract==3.4.4
toml==0.10.2
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2

treeinterpreter==0.2.3
trio==0.22.0
trio-websocket==0.10.3
Twisted==22.10.0
typeguard==2.13.3
tzdata==2023.3
tzlocal==4.3.1
uri-template==1.2.0
urllib3==1.26.16
validators==0.20.0
visions==0.7.5
w3lib==2.1.1
webcolors==1.13
webencodings==0.5.1

Werkzeug==2.2.3

wordcloud==1.9.2
wrapt==1.14.1
wsproto==1.2.0
xarray==2023.6.0
xgboost==1.7.5
xlrd==2.0.1
ydata-profiling==4.3.1

zope.event==4.6
zope.interface==6.0
zstandard==0.19.0
